<!DOCTYPE html>
<html lang="en">
<head>
    <title>Data Hasil Crawling</title>
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/style.css') }}">
    <style type="text/css">
		table.scroll {
			color: #fafafa;
			border:1px #a9c6c9 solid;
			background-color: #fafafa;
            margin-top: 15px;
		}
		table.scroll thead {
			display:table;
			width:100%;
		}
		table.scroll tbody {
			display:block;
			height:350px;
			overflow:auto;
			float:left;
			width:100%;
		}
		table.scroll tbody tr {
			display:table;
			color: black;
			width:100%;
		}
		table.scroll th, td {
			color: black;
			font-size: 12px;
			padding:3px;
		}
	</style>
</head>
<body>
 	<div class="container">
 		<h1 align="center">
            <button style="float: left; margin-top: 15px; margin-right: 180px; background-color:#2979ff; color: #fafafa;
            border: white 1px solid; border-radius: 3px; width: 70px;"><a href="{{ url_for('upload')}}" style="color: white; text-decoration: none;">Home</button></a>
            <button style="float: right; margin-top: 15px; background-color:#2979ff; color: #fafafa;
            border: white 1px solid; border-radius: 3px;"><a href="{{ url_for('slangword')}}" style="color: white; text-decoration: none;">Kamus Slangwords</button></a>
            <button style="float: right; margin-top: 15px; background-color:#2979ff; color: #fafafa;
            border: white 1px solid; border-radius: 3px; margin-right: 5px;"><a href="{{ url_for('stopword')}}" style="color: white; text-decoration: none;">Data Stopwords</button></a>
        Data Hasil Crawling</h1>
        <form>
    	<form style="background-color: #fafafa">
    		<table border="1" cellspacing="0" class="scroll">
    			<tr>
                    <th style="text-align: center;" width="150px">Id Tweet</th>
                    <th style="text-align: center;" width="150px">Username</th>
                    <th style="text-align: center;">Tweet</th>
                    <th style="text-align: center;" width="100px">Waktu Crawling</th>
                    <th style="text-align: center;" width="100px">Label</th>
                    <th style="text-align: center;" width="100px">Action</th>
                </tr>
                {% for data in tables %}
                <tr>
                    <td style="text-align: center;" width="150px">{{ data.0 }}</td>
                    <td style="text-align: center;" width="150px">{{ data.1 }}</td>
                    <td style="text-align: center;">{{ data.2 }}</td>
                    <td style="text-align: center;" width="100">{{ data.3 }}</td>
                    <td style="text-align: center;" width="100px">{{ data.4 }}</td>
                    <td style="text-align: center;" width="100px"><a href="edit/{{ data.0 }}" style="color: blue">Edit Label</a><br><a href="lihat-data/{{ data.0 }}" style="color: blue">Hapus Data</a></td>
                    {% endfor %}
                </tr>
    		</table>
            <p style="margin-bottom: 0px; margin-top: 5px; font-size: 14px;">Jumlah data = {{jumlah_data}}<br>
            Proses preprocessing akan dilakukan terhadap data yang sudah dilabeli. Sedangkan data yang belum memiliki label tidak akan masuk dalam proses preprocessing</p>
            <button style="margin-top: 5px; height: 30px; font-size: 12px;"><a href="{{ url_for('preprocessing')}}" style="color: white; text-decoration: none;">Preprocessing</button>
    	</form>
        </form>
 	</div>
    <footer class="footer">
            <p><a href="#"></a>Ikromul Islam, Universitas Trunojoyo Madura</p>
            <p><a href="#"></a>Copyright &copy 2021</p>
        </footer>
</body>
</html>