<!DOCTYPE HTML>
<html>
    <head>
        <title>Tambah Data Stopword</title>
        <link rel="stylesheet" href="{{ url_for('static', filename ='css/style.css') }}">
    </head>
   
    <body>
        <div class="container">
        <h1>Tambah Data Stopwords</h1>
        <form method="POST">
            <label style="margin-left: 410px;">Masukkan Stopword Baru</label><br>
            <input type="text" name="form_stopword" required=""><br>
            <input type="submit" value="Tambah"><br>
        </form>
        </div>
        <footer class="footer">
            <p><a href="#"></a>Ikromul Islam, Universitas Trunojoyo Madura</p>
            <p><a href="#"></a>Copyright &copy 2021</p>
        </footer>
    </body>
</html>